  <{strip}>

  <{* IMAGE PART *}>
    <br />
    <div align='center'>
      <{if $photo.is_normal_image }>

        <{* NORMAL IMAGES *}>
        <a href='<{$mod_url}>/photo.php?lid=<{$photo.lid}>'><img src='<{$photo.imgsrc_thumb}>' <{$photo.width_spec}> alt='<{$photo.title}>' title='<{$photo.title}>' /></a>

      <{else}>

        <{* FILES OTHER THAN IMAGES *}>
        <a href='<{$photo.ahref_photo}>' target='_blank'><img src='<{$photo.imgsrc_thumb}>' <{$photo.width_spec}> alt='<{$photo.title}>' title='<{$photo.title}>' /></a>

      <{/if}>
    </div>
    <br />

  <{* INFORMATION PART *}>

   <{* 1ST LINE OF INFORMATION *}>

    <{* EDIT ICON *}>
    <{if $photo.can_edit}>
      <a href='<{$mod_url}>/editphoto.php?lid=<{$photo.lid}>'><img src='<{$mod_url}>/images/editicon.gif' border='0' alt='<{$lang_editthisphoto}>' title='<{$lang_editthisphoto}>' /></a>
    <{/if}>

    <{* PHOTO'S SUBJECT *}>
    <a name='<{$photo.lid}>'></a><a href='<{$mod_url}>/photo.php?lid=<{$photo.lid}>&amp;cid=<{$photo.cid}>'><b><{$photo.title}></b></a>

    <{* NEW ICON *}>
    <{if $photo.is_newphoto}>
      <img src='<{$mod_url}>/images/newred.gif' border='0' alt='<{$lang_new}>' title='<{$lang_new}>' />
    <{/if}>

    <{* UPDATE ICON *}>
    <{if $photo.is_updatedphoto}>
      <img src='<{$mod_url}>/images/update.gif' border='0' alt='<{$lang_updated}>' title='<{$lang_updated}>' />
    <{/if}>

    <{* POPULAR ICON *}>
    <{if $photo.is_popularphoto}>
      <img src='<{$mod_url}>/images/pop.gif' border='0' alt='<{$lang_popular}>' title='<{$lang_popular}>' />
    <{/if}>
    <br />


   <{* 2ND LINE OF INFORMATION *}>

    <{* SUBMITTER *}>
    <{if $photo.submitter > 0}>
      <a href='<{$xoops_url}>/userinfo.php?uid=<{$photo.submitter}>'>
        <img src='<{$mod_url}>/images/submitter.gif' width='16' height='16' alt='<{$lang_submitter}>' title='<{$lang_submitter}>' border='0' />
      </a>
      <{$photo.submitter_name}>
      <a href='<{$mod_url}>/viewcat.php?uid=<{$photo.submitter}>'><img src='<{$mod_url}>/images/myphotos.gif' width='16' height='16' alt='<{$photo.info_morephotos}>' title='<{$photo.info_morephotos}>' border='0' /></a>
    <{else}>
      <img src='<{$mod_url}>/images/submitter.gif' width='16' height='16' alt='<{$lang_submitter}>' title='<{$lang_submitter}>' />
      <{$photo.submitter_name}>
    <{/if}><br />

    <{* CATEGORY *}>
    <{if $photo.cat_title}>
      <a href='<{$mod_url}>/viewcat.php?cid=<{$photo.cid}>'><img src='<{$mod_url}>/images/folder16.gif' width='16' height='16' alt='<{$lang_category}>' title='<{$lang_category}>' border='0' /><{$photo.cat_title}></a> &nbsp; &nbsp;
    <{/if}><br />

    <{* LAST UPDATED *}>
    <img src='<{$mod_url}>/images/clock.gif' width='16' height='16' alt='<{$lang_lastupdatec}>' title='<{$lang_lastupdatec}>' /><{$photo.datetime}><br />

    <{* TELL A FRIEND *}>
    <{if $cantellafriend}>
      <a href='<{$xoops_url}>/modules/tellafriend/index.php?target_uri=<{$mod_url|escape:"url"}>/photo.php%3Flid%3D<{$photo.lid}>&amp;subject=<{$lang_subject4taf|escape:"url"}>'><img src='<{$mod_url}>/images/tellafriend.gif' width='24' height='16' alt='<{$lang_tellafriend}>' title='<{$lang_tellafriend}>' /><{$lang_tellafriend}></a>
    <{/if}>

    <br />


   <{* 3RD LINE OF INFORMATION *}>

    <{* HIT COUNTS *}>
    <img src='<{$mod_url}>/images/hits.gif' width='16' height='16' alt='<{$lang_hitsc}>' title='<{$lang_hitsc}>' /><{$photo.hits}> &nbsp; 

    <{* COMMENT COUNTS *}>
    <img src='<{$mod_url}>/images/comments.gif' width='16' height='16' alt='<{$lang_commentsc}>' title='<{$lang_commentsc}>' />
    <{if $moduleConfig.comment_dirname}>
        <{d3comment mode="count" var="comcount" mydirname=$xoops_dirname id=$photo.lid class="myalbumD3commentContent"}>
        <{if $comcount}>
            (<{$comcount}>)
        <{else}>
            (0)
        <{/if}>
    <{else}>
        <{$photo.comments}> &nbsp; &nbsp;
    <{/if}>

    <{* RANK & RATING *}>
    <{if $canrateview}>
      <{if $photo.rating > 0}>
        <img src='<{$mod_url}>/images/rank<{$photo.rank}>.gif' alt='<{$photo.rating}>' title='<{$photo.rating}>' border='0' /><{$photo.info_votes}>
      <{else}>
        <img src='<{$mod_url}>/images/rank_none.gif' alt='<{$photo.info_votes}>' title='<{$photo.info_votes}>' border='0' /><{$photo.info_votes}>
      <{/if}>
    <{/if}>

    <{* VOTE BUTTON *}>
    <{if $canratevote}>
      <a href='<{$mod_url}>/ratephoto.php?lid=<{$photo.lid}>'><img src='<{$mod_url}>/images/vote.gif' alt='<{$lang_ratethisphoto}>' title='<{$lang_ratethisphoto}>' border='0' /><{$lang_ratethisphoto}></a>
    <{/if}>

    <br />

   <{* DESCRIPTION *}>

    <{if $photo.description}>
            <{$photo.description}>
    <{/if}>


  <{/strip}>
