<!-- start module contents -->
<{if $mod_config.show_breadcrumbs}>
<div id="d3d_breadcrumbs">
	<a href="<{$xoops_url}>/">TOP</a>
	<{foreach from=$xoops_breadcrumbs key="i" item="item"}>
	    <{* if $i!=0 *}>
		&nbsp;>&nbsp;
		<{if $item.url}>
			<a href="<{$item.url}>"><{$item.name}></a>
		<{else}>
			<{$item.name}>
		<{/if}>
	    <{* /if *}>
	<{/foreach}>
</div>
<{/if}>

<p><a href="<{$xoops_url}>/userinfo.php?uid=<{$yd_uid}>">
	<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}>
</a>
<{if $yd_param.friend==1}>
	<{$smarty.const._MD_DIARY_FRIENDS}><{$smarty.const._MD_DIARY_TITLENAME}>
<{else}>
	<{$smarty.const._MD_DIARY_PERSON}>
<{/if}>
</p>

<{if $yd_pagenavi}>
<hr />
<{foreach from=$yd_pagenavi item=nav_}>
	<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
	<{else}>
		<{$nav_.txt}>
	<{/if}>
<{/foreach}>
<{/if}>

<hr />
<{if $yd_uid>0}><img src="<{$xoops_url}>/modules/<{$mydirname}>/images/open<{$yd_openarea}>.gif" border=0 /><{/if}>
<a href="<{$url4ex_ph}>"><{$smarty.const._MD_NEWDIARY}></a>

<{if $yd_param.friend==1}><{$smarty.const._MD_QUERYOFF}>:<a href="<{$url4ex_fr}>"><{$smarty.const._MD_DIARY_FRIENDSVIEW}></a><br /><{/if}>
<{if $yd_day>0}><{$smarty.const._MD_QUERYOFF}>:<a href="<{$url4ex_date}>">:[<{$yd_year}>-<{$yd_month}>-<{$yd_day}>]</a><br />
<{elseif $yd_month>0}><{$smarty.const._MD_QUERYOFF}>:<a href="<{$url4ex_date}>">[<{$yd_year}>-<{$yd_month}>]</a><br /><{/if}>
<{if $yd_param.mode=="category"}><{$smarty.const._MD_QUERYOFF}>:<a href="<{$url4ex_cat}>"><{$smarty.const._MD_CATEGORY}>&nbsp;[<{$yd_param.cname}>]</a><br /><{/if}>
<{if $yd_param.tag}><{$smarty.const._MD_QUERYOFF}>:<a href="<{$url4ex_tag}>"><{$smarty.const._MD_TAG}>&nbsp;[<{$yd_param.tag}>]</a><br /><{/if}>

<{* [<{$smarty.const._MD_DIARY_DATE}>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=time_dsc"><{$smarty.const._MD_DSC}></a>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=time_asc"><{$smarty.const._MD_ASC}></a>]<br />
[<{$smarty.const._MD_DIARY_TITLE}>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=title_dsc"><{$smarty.const._MD_DSC}></a>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=title_asc"><{$smarty.const._MD_ASC}></a>]<br />
[<{$smarty.const._MD_PAGE_ACCESS}>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=hit_dsc"><{$smarty.const._MD_DSC}></a>&nbsp;<a href="<{$sort_baseurl}>&amp;odr=hit_asc"><{$smarty.const._MD_ASC}></a>]<br /> *}>

<{if $yd_photolist.0.pid|count_characters>0}>
<{if $yd_editperm}>
<form name="MainForm" method="post" action="index.php?page=photolist<{if $yd_uid>0}>&amp;req_uid=<{$yd_uid}><{/if}><{if $smarty.get.phofst}>&amp;phofst=<{$smarty.get.phofst}><{/if}><{$base_qstr}>">
<{if $yd_action!=1 && $yd_action!=4}>
	<select name="action" id="action">
	<option value="0"><{$smarty.const._MD_CATEGORY_NOSELECTED}></option>
	<{if $mod_config.photo_useinfo==1}>
		<option value="1"><{$smarty.const._MD_EDIT_PINFO}></option>
	<{/if}>
	<option value="2"><{$smarty.const._MD_LROTATE}></option>
	<option value="3"><{$smarty.const._MD_RROTATE}></option>
	<option value="4"><{$smarty.const._MD_PMOVE}></option>
	<option value="5"><{$smarty.const._MD_T_DEL}></option>
	</select>
<{else}>
	<input type="hidden" name="action" value="4" />
<{/if}>
<input type="submit" name="phandle" value="<{$smarty.const._MD_SUBMIT}>"/>
<{/if}>

<{if $yd_action!=1 && $yd_action!=4}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
		<hr>
		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
	  	<{if $yd_uid<=0 || $yd_param.friend==1}><br /><a href="<{$urluppr}>?page=photolist&amp;req_uid=<{$entry.uid}><{$qstr4ex_fr}>">
	  	<{if $mod_config.use_name==1 && $entry.name}><{$entry.name}>
	  	<{else}><{$entry.uname}>
	  	<{/if}></a>
	  	<{/if}>
	  	<br /><{$entry.tstamp|formatTimestamp:'Y-m-d H:i'}><{if $yd_editperm}>&nbsp;<input type='checkbox' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' /><{/if}>
	  	<br /><a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$entry.bid}>&amp;req_uid=<{$entry.uid}><{$base_qstr}>"><{$entry.title}></a>
	  	<br /><{$entry.info}>
	<{/foreach}>
<{elseif $yd_action==1}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
		<hr>
 		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
		<{if $yd_editperm}>
			<input type='hidden' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' />
			<{if $mod_config.photo_useinfo==1}>
				<textarea name='pvinfo[]' rows="5" cols="50"><{$entry.pinfo}></textarea>
			<{/if}>
			<input type='hidden' name='action' value='11' />
		<{/if}>
	<{/foreach}>
<{elseif $yd_action==4}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
		<hr>
		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
		<br />bid<input type="text" name="bids[]" value="<{$entry.bid}>" size="6"/>
		<{if $yd_editperm}>
			<input type='hidden' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' />
			<input type='hidden' name='action' value='41' />
		<{/if}>
	<{/foreach}>
<{/if}>
</form>
<{/if}><!-- enf if yd_photolist -->

<{if $yd_pagenavi}>
<hr />
<{foreach from=$yd_pagenavi item=nav_}>
	<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
	<{else}>
		<{$nav_.txt}>
	<{/if}>
<{/foreach}>
<{/if}>

<hr />
<br />
<{include file='db:system_notification_select.html'}>
<br />
<hr />
<{if $yd_layout=="left" || $yd_layout=="right" }>
	<{include file="db:`$mydirname`_rightarea.html"}>
<{/if}>

